.father {
  display: grid;
  gap: 10px;
  min-height: 100vh;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  background-color: lightblue;
  justify-content: center;
  align-content: center;
}

.child {
  background-color: tomato;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}